@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

.output {
    line-height: 2px;
    letter-spacing: 2px;
    font-family: "Noto Color Emoji";
    background-color: rgb(56, 56, 56);
}